$p-color: #ffff00;
$bg-color: #000;
$t-color: #fff;


/* ==========================================================================
   Reset styles
   ========================================================================== */
* {
  box-sizing: border-box;
}
html {
  color: $t-color;
  font-size: 1em;
  font-family: 'regulator-nova', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  background-color: #000;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 50px 25px 0;
}
/*
   Logo
*/
header .logo {
  position: relative;
  z-index: 1499;
  width: 200px;
  transition: 0.3s ease;
}
header .logo svg {
  width: 100%;
}
header .logo svg path {
  fill: $p-color;
}
/*
    Nav Open Logo
*/
.navOpen header .logo {
  width: 400px;
}
/*
   Burger
*/
header .burger {
  position: relative;
  z-index: 1499;
  cursor: pointer;
}
header .burger .line {
  display: block;
  height: 5px;
  width: 150px;
  margin-bottom: 10px;
  background-color: $p-color;
  border-radius: 2px;
  transition: 0.2s ease;
}
header .burger .line.cross {
  transition: 0.3s ease;
}
header .burger .line.cross:nth-of-type(2) {
  margin-bottom: 0;
}
header .burger .line.cross:nth-of-type(3) {
  margin-top: -5px;
}
header .burger .line:nth-last-child(1) {
  margin-bottom: 0;
  float: right;
}
/*
   Burger Open
*/
.navOpen header .burger .line {
  width: 0;
}
.navOpen header .burger .line.cross {
  width: 155px;
}
.navOpen header .burger .line.cross:nth-of-type(2) {
  transform: rotate(-12deg);
}
.navOpen header .burger .line.cross:nth-of-type(3) {
  transform: rotate(12deg);
}
/*
   Navigation Container
*/
header .navContainer {
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  padding: 0 25px 10vh 25px;
  background-color: $bg-color;
  // opacity: 0.5;
  transition: 0.3s ease;
}
header .navContainer nav {
  // opacity: 1;
}
header .navContainer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .navContainer nav.mainNav ul li {
  margin-bottom: 10px;
}
header .navContainer nav.mainNav ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}
header .navContainer nav.smallLinks ul li {
  display: inline-block;
  margin-right: 10px;
}
header .navContainer nav.smallLinks ul li:nth-last-of-type(1) {
  margin-right: 0;
}
header .navContainer nav ul li a {
  display: inline-block;
  color: $t-color;
  font-weight: 600;
  text-decoration: none;
}
header .navContainer nav.mainNav ul li a {
  font-size: 6em;
  font-weight: 900;
  color: $p-color;
  text-transform: uppercase;
}
header .navContainer nav.smallLinks ul li a:hover {
  text-decoration: underline;
}
/*
   Navigation Container Open
*/
.navOpen header .navContainer {
  left: 0;
}



main {
  transition: 0.3s ease;
}
.navOpen main {
  filter: blur(10px);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}
.invisible {
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.g-bg {
  position: relative;
  z-index: 500;
}
.gradient {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ff00ff 0%,#ff00ff 10%,#000000 100%);
  transition: background 0.3s ease;

  background-size: 100% 110%;
  background-position: center bottom;
}
.g-bg:hover .gradient {
  background-position: center top;
}

/* ==========================================================================
   Print styles.
   ========================================================================== */
@media print {
  *,
  *:after,
  *:before {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
